@import url("https://fonts.googleapis.com/css2?family=Konkhmer+Sleokchher&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #f0f0f0;
  --text-color: #333333;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #333333;
    --text-color: #f0f0f0;
  }
}

body {
  padding: 3rem;
  color: var(--text-color);
  background: var(--background);
  font-family: "Konkhmer Sleokchher", cursive;
  overflow: hidden;
}

.link {
  margin-top: 1rem;
  text-align: center;
  font-style: italic;
}

/* Add code below  */
